@font-face {
    src: url("TicketFont.ttf");
}

.root {
    background_color: #d0d0cf;

    field-background-color: #ffffff;
    field-background-hover: #dddddd;
    field-background-focus: #8b8e8e;

    text-fill-dark: #454545;
    text-fill: #929192;
    text-fill-hover: #8e8d8e;
    text-fill-armed: #ffffff;

    table-header-color: #6b6b6b;
}

.removeActive {
    -fx-background-color: #ff0000;
    -fx-background-radius: 0;
    -fx-max-height: 25;
    -fx-min-height: 25;
    -fx-pref-height: 25;
    -fx-max-width: 75;
    -fx-min-width: 75;
    -fx-pref-width: 75;
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

.background {
    -fx-background-color: background_color;
}

.sub_background {
    -fx-background-color: background_color;
}

.text-field {
    -fx-background-color: field-background-color;
    -fx-background-radius: 0;
    -fx-text-fill: text-fill;
}

.text-field:hover {
    -fx-background-color: field-background-hover;
    -fx-text-fill: text-fill-hover;
}

.text-field:focused {
    -fx-background-color: field-background-focus;
    -fx-text-fill: text-fill-armed;
}

.button {
    -fx-background-color: field-background-color;
    -fx-background-radius: 0;
    -fx-text-fill: text-fill;
}

.button:hover {
    -fx-background-color: field-background-hover;
    -fx-text-fill: text-fill-hover;
}

.button:focused {
    -fx-background-color: field-background-focus;
    -fx-text-fill: text-fill-armed;
}

/*ei muutnud midagi*/
.header {
    /*-fx-background-color: b_color;*/
    -fx-font-size: 42pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ff0000;
}

.text-price {
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-fill: text-fill-dark;
}

.item-title {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: main_text_color;
    -fx-opacity: 0.6;
}

.border-pane .background_style {
    -fx-background-color: background_color;
}

.split-pane .split-pane-divider {
    -fx-border-color: #ff0000;
    -fx-background-insets: 0;
    -fx-pref-width: 0
}

/*
 * TableView
 */

.table-view {
    -fx-base: background_color;
    -fx-control-inner-background: background_color;
    -fx-background-color: background_color;
    -fx-table-cell-border-color: background_color;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.table-view .table-column {
    -fx-alignment: top-center; /*tabeli cellide sisu keskele (ilma topita lõhub history tableviewi)*/
}

.table-row-cell .table-cell {
    -fx-border-width: 0px;
}

.table-view .column-header-background {
    -fx-background-color: table-header-color;
    -fx-text-fill: #00ff00;
}

.table-row-cell:empty {
    -fx-background-color: background_color; /*tabel, kus pole ridu*/
}

.table-row-cell:selected {
    -fx-background-color: #aaaaaa; /*tabeli rida fookus, millel pole enam selected*/
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: transparent;
    /*-fx-border-color: title_color title_color title_color title_color;*/
    -fx-border-insets: 1 1 1 1;
}

.table-view .column-header .label { /*tabeli päis*/
    -fx-text-fill: text-fill-armed;
    -fx-alignment: center;
}

.table-view:focused .table-row-cell:filled:focused:selected { /*tabeli rida millel on vajutatud*/
    -fx-background-color: field-background-focus;
    -fx-text-fill: text-fill-armed;
}

.table-view .placeholder { /*tühi tabel*/
    -fx-background-color: background_color;
}

.table-row-cell .text { /*tabelis oleva texti värv*/
    -fx-fill: text-fill-dark;
}

.table-row-cell .text:filled:focused:selected { /*tabelis oleva texti värv*/
    -fx-fill: text-fill-armed;
}

.table-row-cell {
    -fx-background-color: #dcdcdc;
    -fx-text-fill: text-fill-armed;

}

.table-row-cell:odd {
    -fx-background-color: #cecece;
    -fx-text-fill: text-fill-armed;
}

.gridPaneStyle {
    -fx-background-color: background_color;
}

.date-picker {
    -fx-background-radius: 0;
    -fx-background-color: #dddddd;
}

.date-picker .arrow-button {
    -fx-background-radius: 0;
    -fx-background-color: #929291;
}

.date-picker .arrow-button:hover {
    -fx-background-radius: 0;
    -fx-background-color: #c5c5c4;
}

.date-picker .arrow-button:pressed {
    -fx-background-radius: 0;
    -fx-background-color: #949493;
}

.date-picker .arrow {
    -fx-background-color: #babab9;
}

.date-picker-popup .button {
    -fx-background-color: #ffffff;
    -fx-pref-height: 20;
}

.date-picker-popup .button .right-arrow,
.date-picker-popup .button .left-arrow {
    -fx-background-color: #babab9;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #ffffff;
}

.date-picker-popup .calendar-grid {
    -fx-background-color: #ffffff;
}

.date-picker-popup .calendar-grid .text {
    -fx-fill: text-fill-dark;
}

.date-picker-popup .day-cell {
    -fx-background-color: #ffffff;
}

.date-picker-popup {
    -fx-background-color: #ffffff;
    -fx-stroke-width: 0;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.date-picker-popup .day-name-cell {
    -fx-fill: text-fill-dark;
}

.date-picker-popup .month-year-pane .text {
    -fx-font-family: 'TicketFont';
    -fx-fill: text-fill-dark;
}

.date-picker-popup .date-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 1, 2;
    -fx-padding: 0;
    -fx-alignment: BASELINE_CENTER;
    -fx-opacity: 1.0;
}

.date-picker-popup .day-name-cell {
    -fx-font-family: 'TicketFont';
}

.date-picker-popup .week-number-cell {
    -fx-font-family: 'TicketFont';
}

.date-picker-popup .day-cell {
    -fx-padding: 4 7 4 7;
    -fx-border-width: 0;
    -fx-font-family: 'TicketFont';
    -fx-background-color: #ffffff;
    -fx-text-fill: text-fill-dark;
}

.date-picker-popup .today {
    -fx-background-color: #ffffff;
    -fx-background-insets: 1, 2, 3;
}

.date-picker-popup .day-cell:hover,
.date-picker-popup .selected,
.date-picker-popup .previous-month.selected,
.date-picker-popup .next-month.selected {
    -fx-background: -fx-selection-bar;
}

.date-picker-popup .today:hover,
.date-picker-popup .today.selected {
    -fx-background-color: #5b5d5d;
}

.date-picker-popup .day-cell:focused,
.date-picker-popup .today:focused {
    -fx-background-color: #5b5d5d;
    -fx-background-insets: 1, 2, 3;
}

.date-picker-popup .day-cell:hover,
.date-picker-popup .today:hover,
.date-picker-popup .today.selected:focused {
    -fx-background-color: #5b5d5d;
}

.date-picker-popup .previous-month,
.date-picker-popup .next-month {
    visibility: hidden;
}

.validationError {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-width: 2;
    -fx-border-color: #f05455;
    -fx-border-style: solid outside;
}

.barButton,
.barButton:focused{
    -fx-background-color: #e6e6e5;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-max-height: 25;
    -fx-min-height: 25;
    -fx-pref-height: 25;
    -fx-max-width: 51;
    -fx-min-width: 51;
    -fx-pref-width: 51;
    -fx-text-fill: #8c8c8b;
    -fx-font-family: "ticketFont";
}

.barButton:hover {
    -fx-background-color: #bdbdbc;
}

.barButton:armed {
    -fx-background-color: #9d9d9c;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #babab9;
    -fx-background-radius: 0;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #929291;
    -fx-background-radius: 0;
}

.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #727271;
    -fx-background-radius: 0;
}

.scroll-bar:vertical .track {
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 0;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 1 10 1 10;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/*******
 *  titled pane
 */

.titled-pane {
    -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";
    -fx-text-fill: text-fill-dark;
}

.titled-pane:focused {
    -fx-text-fill: text-fill-dark;
}

.titled-pane > .title {
    -fx-background-color: field-background-color;
    -fx-background-insets: 0; /* , 1, 2;*/
    -fx-background-radius: 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title {
   /* -fx-color: -fx-focus-color;*/
}

/*
 *
 * TabPane
 */

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-background-color: field-background-color; /*selected tab button*/
    -fx-border-width: 0px;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover:top {
    -fx-background-color: field-background-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: background_color;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: text-fill-dark;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: text-fill-dark;
    -fx-font-weight: bold;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
    -fx-background-color: #e6e6e5;
}

.tab-pane {
    /*-fx-background-color: b_color;*/
    -fx-text-fill: main_text_color;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
    /*-fx-background-color: control_color;
    -fx-color: control_color;*/
    -fx-text-fill: main_text_color;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab {
    /*-fx-background-color: control_color;*/
    /*-fx-border-color: title_color;*/
    -fx-pref-width: 90px;
}

.tab-pane .tab:selected {
    /*-fx-background-color: b_color;*/
}

.tab-pane .tab:hover {
    /*-fx-background-color: b_color;*/
}

.tab-manager-border-pane {
    -fx-background-color: background_color;
    -fx-border-width: 0pt;
}

/*context menu*/

.context-menu {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-background-radius: 0;
}

.menu-item:hover {
    -fx-background-color: #dddddd;
    -fx-font-smoothing-type: gray;
    -fx-background-radius: 0;
}

.menu-item:focused {
    -fx-background-color: #dddddd;
    -fx-font-smoothing-type: gray;
    -fx-background-radius: 0;
}

.menu-item .label {
    -fx-text-fill: #000000;
    -fx-background-radius: 0;
}

.separator .line {
    -fx-border-width: 0.5px;
    -fx-border-color: #b0afb0;
}
